:host {
  ::ng-deep {
    .mat-mdc-list-option .mdc-radio {
      display: none !important;
    }

    mat-chip-option.predictable ::before, ::after {
      --tw-border-opacity: 1 !important;
      border-color: #FF9955;
      border-width: 2px !important;
    }
  }
}
