<div class="flex flex-row h-full">
  <!-- sampleIds -->
  <div class="relative flex flex-col w-40">
    <div class="font-semibold text-center h-10 py-2 border-b-[1px]">샘플</div>
    <div class="absolute top-10 bottom-0 w-full overflow-y-auto">
      <mat-selection-list [multiple]="false" (selectionChange)="onSelectionChange($event)" >
        <mat-list-option *ngFor="let id of sampleIds" [value]="id">
          {{id}}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>

  <!-- chart -->
  <div class="relative w-full pr-4 overflow-y-auto">
    <!-- 생육 항목 선택 -->
    <div class="w-full px-16">
        <mat-chip-listbox multiple="true">
            <mat-chip-option
                *ngFor="let property of selectableProperties"
                color="primary" [ngClass]="{predictable: property.predictable}"
                [selected]="property.code=='plantHeight' || property.code=='vr'"
                (selectionChange)="onChageProperty(property, $event)"
                [matTooltipDisabled]="!property.predictable"
                matTooltip="AI예측 가능한 항목입니다"
                >{{ property.name }}
            </mat-chip-option>
        </mat-chip-listbox>
    </div>

    <div #chart class="w-full h-[calc(100%_-_40px)] top-10 bottom-0 min-h-60"></div>

  </div>

</div>
