[Unit]
Description=farmconnect-api
After=syslog.target network.target redis.service

[Service]
WorkingDirectory=/data/farmconnect/api

ExecStart=/bin/node /data/farmconnect/api/main.js
ExecStop=/bin/kill -15 $MAINPID

RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
