<div class="absolute inset-0 flex flex-col p-5">
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title class="flex flex-row gap-8">
                <span> 작기 선택 </span>
                <mat-form-field class="w-40">
                    <input matInput #farmCsInput (keyup)="csFilter($event)" (click)="$event.stopPropagation()" placeholder="농장 또는 작기명" />
                </mat-form-field>
            </mat-panel-title>
            <mat-panel-description>
                {{selectedCroppingSeason?.farm?.name}} <span *ngIf="selectedCroppingSeason?.farm?.name">{{' - ' + selectedCroppingSeason?.name}}</span>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- 농장/작기 -->
        <div class="flex flex-col flex-shrink-0 h-[30vh]">
            <div class="overflow-y-auto w-full">
                <table mat-table [dataSource]="csDataSource" [trackBy]="trackByFn" #csTable #csTableSort="matSort" matSort (matSortChange)="onSortChange($event)" matSortActive="startDt" matSortDirection="desc" class="">
                    <ng-container matColumnDef="farmName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap">농장</th>
                        <td mat-cell *matCellDef="let cs" class="whitespace-nowrap p-1">{{ cs.farm?.name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap">작기명</th>
                        <td mat-cell *matCellDef="let cs" class="whitespace-nowrap p-1">{{ cs.name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="cropBreedName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap">작물명</th>
                        <td mat-cell *matCellDef="let cs" class="whitespace-nowrap p-1">{{ cs.cropName }}({{ cs.breedName }})</td>
                    </ng-container>

                    <ng-container matColumnDef="startDt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap">시작일</th>
                        <td mat-cell *matCellDef="let cs" class="whitespace-nowrap px-1">{{ cs.startDt | date : 'yyyy-MM-dd' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="pinchDt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap">적심일</th>
                        <td mat-cell *matCellDef="let cs" class="whitespace-nowrap px-1">{{ cs.pinchDt | date : 'yyyy-MM-dd' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="endDt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap">종료일</th>
                        <td mat-cell *matCellDef="let cs" class="whitespace-nowrap px-1">{{ cs.endDt | date : 'yyyy-MM-dd' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="lastInvDt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap">마지막 생육조사일</th>
                        <td mat-cell *matCellDef="let cs" class="whitespace-nowrap px-1">
                            {{ cs.lastInvDt | date : 'yyyy-MM-dd' }}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="csTableColumns; sticky: true"></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: csTableColumns"
                        class="cursor-pointer"
                        [class.bg-accent-300]="selectedCroppingSeason === row"
                        (click)="onClickCs(row)"
                    ></tr>
                    <tr *matNoDataRow>
                        <td [attr.colspan]="csTableColumns?.length">데이터가 없습니다</td>
                    </tr>
                </table>
            </div>
        </div>
    </mat-expansion-panel>

    <!-- 샘플, 날짜(주차), 생육  -->
    <div class="relative flex flex-auto bg-card border rounded-2xl mt-5">
        <div *ngIf="tab.selectedIndex == 0" class="absolute top-1 right-8 flex justify-end z-10 gap-2">
            <button mat-flat-button color="accent" (click)="importGrowth()" [disabled]="!selectedCroppingSeason || isEditing">붙여넣기</button>
            <button mat-flat-button color="primary" (click)="createGrowth()" [disabled]="!selectedCroppingSeason">추가</button>
            <button mat-flat-button color="primary" (click)="edit()" [disabled]="!editable">수정</button>
            <button mat-flat-button color="warn" (click)="delete()" [disabled]="!selectedGrowthes.hasValue()">삭제</button>
            <button mat-flat-button color="accent" (click)="save()" [disabled]="!isEditing">저장</button>
        </div>

        <mat-tab-group #tab mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms" class="w-full" preserveContent>
            <mat-tab label="생육수확 조사" [disabled]="!selectedCroppingSeason">
                <div class="absolute inset-4 overflow-y-auto" cdkScrollable>
                    <table mat-table [dataSource]="grDataSource" [trackBy]="trackByFnGr" #grTable #grTableSort="matSort" matSort class="min-w-full">
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef class="w-10 max-w-10 px-0">
                                <mat-checkbox
                                    (change)="$event ? toggleAllRows() : null"
                                    [checked]="selectedGrowthes.hasValue() && isAllSelected()"
                                    [indeterminate]="selectedGrowthes.hasValue() && !isAllSelected()"
                                >
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row" class="px-0">
                                <mat-checkbox
                                    (click)="$event.stopPropagation()"
                                    (change)="$event ? selectedGrowthes.toggle(row) : null"
                                    [checked]="selectedGrowthes.isSelected(row)"
                                >
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="sampleId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="min-w-30 max-w-30">샘플Id</th>
                            <td mat-cell *matCellDef="let gr">
                                <span *ngIf="!isEdit(gr)">{{ gr.sampleId }}</span>
                                <mat-form-field *ngIf="isEdit(gr)">
                                    <input #autoInput type="text" matInput [(ngModel)]="gr.sampleId" [matAutocomplete]="auto" />
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let option of sampleIdOptions | async" [value]="option">
                                            {{ option }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="invDt">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="min-w-30 max-w-30">조사일</th>
                            <td mat-cell *matCellDef="let gr">
                                <span *ngIf="!isEdit(gr)">{{ gr._invDtMoment | date : 'yyyy-MM-dd' }}</span>
                                <mat-form-field class="" *ngIf="isEdit(gr)">
                                    <input
                                        matInput
                                        [matDatepicker]="picker"
                                        [(ngModel)]="gr._invDtMoment"
                                        (dateChange)="onChangeInvDt($event, gr)"
                                    />
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="week">
                            <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap px-0.5 min-w-20">주차</th>
                            <td mat-cell *matCellDef="let gr" class="whitespace-nowrap px-1" class="p-0 text-center">
                                <span *ngIf="!isEdit(gr)">{{ gr.week }}</span>
                                <span *ngIf="isEdit(gr)">
                                    <mat-form-field class="">
                                        <input matInput [(ngModel)]="gr.week" />
                                    </mat-form-field>
                                </span>
                            </td>
                        </ng-container>

                        <ng-container *ngFor="let gp of selectedCsGrowthProperty; let i = index">
                            <ng-container [matColumnDef]="gp.code">
                                <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap px-0.5 min-w-20">
                                    {{ gp.name }}<span *ngIf="gp.unit">({{ gp.unit }})</span>
                                </th>
                                <td mat-cell *matCellDef="let gr" class="whitespace-nowrap px-1" class="p-0 text-center">
                                    <span *ngIf="!isEdit(gr)">{{ gr[gp.code] }}</span>
                                    <span *ngIf="isEdit(gr)">
                                        <mat-form-field class="">
                                            <input matInput [(ngModel)]="gr[gp.code]" />
                                        </mat-form-field>
                                    </span>
                                </td>
                            </ng-container>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="viewGrColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: viewGrColumns" [class.edit]="isEdit(row)"></tr>
                        <tr *matNoDataRow>
                            <td [attr.colspan]="viewGrColumns?.length">데이터가 없습니다</td>
                        </tr>
                    </table>
                </div>
            </mat-tab>

            <mat-tab label="그래프" [disabled]="!selectedCroppingSeason">
                <div class="absolute inset-4">
                <growth-chart
                    [growthProperties]="selectedCsGrowthProperty"
                    [croppingSeason]="selectedCroppingSeason"
                    [growthes]="grDataSource.data"
                ></growth-chart>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
